<div class="row" style="margin-left: 20px;">
    <div class="col-md-5">
        <div class="row">
            <div class="col-xs-125">
                <button class="btn btn-success" (click)="onNewTaskClicked()">New Task</button>

                <label for="filter">Filter</label>
                <input type="text" id="filter" name="filter" (input)="onFilterChanged($event.target.value)">
                <br>
                <div>
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th score="col">Open ({{openTasks.length}})</th>
                                <th score="col">Development ({{devTasks.length}})</th>
                                <th score="col">Ready for QA ({{qaTasks.length}})</th>
                                <th score="col">Closed ({{closedTasks.length}})</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let j of tableSize; let i = index'>
                                <td><a *ngIf='openTasks.length > i'
                                        [routerLink]="['/tasks', openTasks[i].id]">{{openTasks[i].name}}<br>{{openTasks[i].project.client_name}}</a>
                                </td>
                                <td><a *ngIf='devTasks.length > i'
                                        [routerLink]="['/tasks', devTasks[i].id]">{{devTasks[i].name}}<br>{{openTasks[i].project.client_name}}</a>
                                </td>
                                <td><a *ngIf='qaTasks.length > i'
                                        [routerLink]="['/tasks', qaTasks[i].id]">{{qaTasks[i].name}}<br>{{openTasks[i].project.client_name}}</a>
                                </td>
                                <td><a *ngIf='closedTasks.length > i'
                                        [routerLink]="['/tasks', closedTasks[i].id]">{{closedTasks[i].name}}<br>{{openTasks[i].project.client_name}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>