<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmitButtonClicked()" #f="ngForm">
                <div id="user-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" ngModel name="name" required [ngModel]="user.name">
                    </div>
                    <div class="form-group">
                        <label for="location">Password</label>
                        <input type="password" id="password" class="form-control" ngModel name="password" required [ngModel]="user.password">
                    </div>
                    <div class="form-group">
                        <label for="rank">Rank</label>
                        <input type="number" id="rank" class="form-control" ngModel name="rank" required [ngModel]="user.rank">
                    </div>
                    <div class="form-group">
                        <label for="photo">Photo</label>
                        <input type="text" id="photo" class="form-control" ngModel name="photo" [ngModel]="user.photo">
                    </div>
                    <div class="form-group">
                        <label for="date_of_birth">Date of Birth</label>
                        <input type="text" id="date_of_birth" class="form-control" ngModel name="date_of_birth" required [ngModel]="user.date_of_birth">
                    </div>
                    <div class="form-group">
                        <label for="address">address</label>
                        <input type="text" id="address" class="form-control" ngModel name="address" required [ngModel]="user.address">
                    </div>
                    <div class="form-group">
                        <label for="skype">Skype</label>
                        <input type="text" id="skype" class="form-control" ngModel name="skype" required [ngModel]="user.skype">
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone Number</label>
                        <input type="text" id="phone_number" class="form-control" ngModel name="phone_number" required [ngModel]="user.phone_number">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
            </form>
        </div>
    </div>
    <hr>
</div>