<div *ngIf=task>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{task.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-danger" (click)="onDeleteTaskClicked()"
                *ngIf="loggedUser.rank >= 50">Delete Task</button>
            <button type="button" class="btn btn-warning" (click)="onEditTaskClicked()" *ngIf="loggedUser.rank > 0">Edit
                Task</button>
        </div>
    </div>

    <div class="row" *ngIf='worker && reporter && project'>
        <div class="col-xs-12">
            Name: {{task.name}}<br>
            <a (click)="onWorkerClicked()">Worker: {{worker.name}}</a><br>
            <a (click)="onReportedClicked()">Reporter: {{reporter.name}}</a><br>
            <a (click)="onProjectClicked()">Project: {{project.name}}</a><br>
            Status: {{task.GetStatus()}}<br>
            Type: {{task.GetType()}}<br>
            Estimate: {{task.estimate}}<br>
            Start Date: {{task.start_date}}<br>
            End Date: {{task.end_date}}<br>
            Description: {{task.description}}<br>
        </div>
    </div>