<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmitButtonClicked()" #f="ngForm">
                <div id="user-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" ngModel name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <input type="text" id="type" class="form-control" ngModel name="type" required>
                    </div>
                    <div class="form-group">
                        <label for="logo">Logo</label>
                        <input type="text" id="logo" class="form-control" ngModel name="logo" required>
                    </div>
                    <div class="form-group">
                        <label for="client_name">Client Name</label>
                        <input type="text" id="client_name" class="form-control" ngModel name="client_name" required>
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <input type="text" id="start_date" class="form-control" ngModel name="start_date" required>
                    </div>
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input type="text" id="end_date" class="form-control" ngModel name="end_date" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" class="form-control" ngModel name="description" required>
                    </div>
                    <label for="team_members">Team Members</label>
                    <ul>
                        <div *ngFor='let user of teamUsers; let i = index'>
                            <li>
                                {{user.name}} - <b><a (click)="RemoveUserFromTeam(user, i)">Remove from team</a></b>
                            </li>
                        </div>
                    </ul>
                    <label for="free_members">Available Users</label>
                    <ul>
                        <div *ngFor='let user of freeUsers; let i = index'>
                            <li>
                                {{user.name}} - <b><a (click)="AddUserToTeam(user, i)">Add to team</a></b>
                            </li>
                        </div>
                    </ul>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
            </form>
        </div>
    </div>
    <hr>
</div>