<div class="col-md-5">
    <div class="row">
        <div class="col-xs-12">
            <img [src]=shownUser.photo alt="{{shownUser.name}}" class="img-responsive" style="height: 200px;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{shownUser.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-danger" (click)="onDeleteUserClicked()"
                *ngIf="loggedUser.rank >= 50">Delete User</button>
            <button type="button" class="btn btn-warning" (click)="onEditUserClicked()" *ngIf="loggedUser.rank > 0">Edit
                User</button>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Name: {{shownUser.name}} <br>
            Title: {{shownUser.GetTitle()}} <br>
            Location: {{shownUser.location}}<br>
            Date of Birth: {{shownUser.date_of_birth}}<br>
            Address: {{shownUser.address}}<br>
            Skype: {{shownUser.skype}}<br>
            Phone Number: {{shownUser.phone_number}}
        </div>
    </div>
    <hr>
    <h4>Projects: </h4>
    <!-- //#FIX LATER WITH IDS
    <div *ngFor='let p of shownUser.projects'>
        <a  [routerLink]="['/projects', p.id]">{{p.name}}</a> 
       
    </div> -->
    <hr>
    <h5>Tasks: </h5><!-- //#FIX LATER WITH IDS
    <div *ngFor='let t of shownUser.tasks'>
       <a  [routerLink]="['/tasks', t.id]">{{t.project.name}}: {{t.name}}</a> 
    </div> -->
    <hr>
    <div class="row">
        <div class="col-xs-12">
            Skills:<br>

            <ul>
                <li *ngFor='let skill of shownUser.skills; let i = index'>
                    {{skill}}

                    <b *ngIf='loggedUser.id===shownUser.id'><a (click)='removeSkill(i)'> - Remove Skill</a></b>

                </li>
            </ul>
            <div *ngIf='loggedUser.id===shownUser.id || loggedUser.rank > 30'>
                <hr>
                <label for="skill">New Skill</label>
                <input #skill type="text" id="skill" name="skill">

                <button class="btn btn-primary" (click)='addSkill()'>Add Skill</button>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>
