<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" (click)="onNewProjectClicked()" *ngIf="loggedUser.rank >= 50">New
                    Project</button>
                <div *ngFor="let project of projects">
                    <div *ngIf='project.IsUserInTeam(loggedUser)'>
                        <a style="cursor: pointer;" class="list-group-item clearfix">
                            <div class="pull-left">
                                <h4 class="list-group-item-heading"> {{project.name}} - {{project.description}}</h4>
                            </div>
                            <span class="pull-right">
                                <img [src]=project.logo alt="{{project.name}}" class="img-responsive"
                                    style="height: 80px; width: 100px;">
                            </span>
                        </a>
                        <ul>
                            <div *ngFor="let task of tasks">
                                <div *ngIf='task.user == loggedUser'>
                                    <li *ngIf="task.project.name === project.name">
                                        <h3>{{task.name}}</h3>
                                        <table class="table table-striped table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th score="col">User name</th>
                                                    <th score="col">Date</th>
                                                    <th score="col">Time {{task.GetTotalTime()}}</th>
                                                    <th score="col">Comment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let wt of task.work_times; let i = index'>

                                                    <td>{{wt.user.name}}</td>
                                                    <td>{{wt.date}}</td>
                                                    <td>{{task.Number2Time(wt.time_hh)}}:{{task.Number2Time(wt.time_mm)}}
                                                    </td>
                                                    <td>{{wt.comment}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <div>
                                            <div class="container">
                                                <form (ngSubmit)="AddWorkTime(task)" #f="ngForm">
                                                <div class="input-group">

                                                    <span class="input-group-text">
                                                        <label for="date">Date</label>
                                                    </span>
                                                    <input type="text" id="date" class="form-control" ngModel name="date" required>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Time (HH:MM)</span>
                                                    </div>

                                                    <input type="number" id="hh" aria-label="Hours" class="form-control" ngModel name="hh" required>
                                                    <input type="number" id="mm" aria-label="Minutes" class="form-control" ngModel name="mm" required>
                                                </div>
                                                <label for="comment">Comment</label>
                                                <input type="text" id="comment" aria-label="Comment" class="form-control" ngModel name="comment" required>
                                                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Add Work
                                                    Time</button>
                                                </form>
                                            </div>
                                        </div>

                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>